/* Font definations */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(webfonts/MerriweatherSans-Regular.woff) format('woff');
}
mw {
  font-family: Merriweather Sans;
}
fa {
  font-family: FontAwesome;
}

/* HTML styles */
body {
  padding-top: 51px;
}

.banner-container {
  width: 100%;
  background: none no-repeat scroll center center / cover;
  font-size: 54px;
  line-height: 54px;
}

.title-big-mainpage {
  font-family: Merriweather Sans;
  font-size: 64px;
  padding-top: 80px;
  font-weight: 700;
}

.title-big {
  font-family: Merriweather Sans;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
}

.title-small {
  font-family: Merriweather Sans;
  font-size: 32px;
  font-weight: 300;
}

#sign_up_callout, #dashboard_homepage {
  text-align: center;
}

.btn-long {
  width: 50%;
}

.form-group-long {
  text-align: center;
}

span.detailed_info {
  color: #c0c0c0;
}

span.chapter_title {
  font-size: 32px;
  font-weight: 700;
}

p.root_details_title {
  font-size: 54px;
}

p.root_details_desc {
  font-size: 24px;
}

.chapter-contents {
  padding-left: 20px;
  padding-right: 20px;
}

.chapter-nav-left {
  float: left;
  font-size: 32px;
  padding-left: 10px;
}

.chapter-nav-right {
  float: right;
  font-size: 32px;
  padding-right: 10px;
}
