/* Font definations */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(/webfonts/MerriweatherSans-Regular.woff) format('woff');
}
mw {
  font-family: Merriweather Sans;
}
fa {
  font-family: FontAwesome;
}

/* HTML styles */
body {
  padding-top: 51px;
}

.banner-container {
  width: 100%;
  background: none no-repeat scroll center center / cover;
  font-size: 54px;
  line-height: 54px;
}

.title-big-mainpage {
  font-family: Merriweather Sans;
  font-size: 64px;
  padding-top: 80px;
  font-weight: 700;
}

.title-big {
  font-family: Merriweather Sans;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
}

.title-small {
  font-family: Merriweather Sans;
  font-size: 32px;
  font-weight: 300;
}

#sign_up_callout, #dashboard_homepage {
  text-align: center;
}

.btn-long {
  width: 50%;
}

.form-group-long {
  text-align: center;
}

span.detailed_info {
  color: #c0c0c0;
}

span.leaf_title {
  font-size: 32px;
  font-weight: 700;
}

.pot_details_title {
  font-size: 54px;
}

.pot_details_desc {
  font-size: 24px;
}

.leaf-contents {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.leaf-nav-left {
  float: left;
  font-size: 32px;
  padding-left: 10px;
}

.leaf-nav-right {
  float: right;
  font-size: 32px;
  padding-right: 10px;
}

.leaf-banner {
  text-align: center;
  background-image: url(/images/lined_paper.png);
}

.am-icon-btn {
  margin-bottom: 6px;
}

.side-btn-container {
  position: fixed;
  bottom: 24px;
  right: 72px;
  text-align: right;
}

.side-btn-highlight {
  background-color: #514CDD;
  color: #FFF;
}

.cmt-post-area {
  width: 30%;
  position: absolute;
}

/* 从GitHub那儿拉下来的，在此表示感谢～ */
.svg-tip {
  padding: 10px;
  background: none repeat scroll 0% 0% rgba(192, 192, 192, 0.8);
  font-size: 24px;
  position: absolute;
  z-index: 99999;
  border-radius: 3px;
  max-width: 40%;
  box-sizing: border-box;
}

.svg-tip-text {
  max-width: 100%;
  /* http://stackoverflow.com/q/826782 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
